@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --light-100: 245 245 247;

    --dark-200: 29 29 31;
    --dark-100: 16 16 17;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
