@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --light-100: 255, 255, 255;
    --light-200: 245 245 247;

    --dark-100: 16 16 17;
    --dark-200: 29 29 31;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
