@import url("../../../node_modules/@searchstax-inc/searchstudio-ux-js/dist/styles/mainTheme.css");

.searchstax-search-input-container {
  width: unset;
  height: auto;
  border: unset;
}

.searchstax-search-close {
  width: 20px;
  height: 20px;
  max-width: 20px;
  margin-right: 10px;
}

.searchstax-spinner-icon,
.searchstax-search-icon {
  width: 20px;
  height: 20px;
  max-width: 20px;
  margin-right: 10px;
}

html.dark .searchstax-facets-pill-label {
  color: white !important;
}

html.light .searchstax-facets-pill-label {
  color: black !important;
}

.searchstax-facets-pill.searchstax-facets-pill-filter-by {
  height: auto !important;
  width: auto !important;
  padding: 0.25rem !important;
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
  border: 1px solid rgb(var(--dark-300)) !important;
}
